*,
body {
    margin: 0;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bayan {
    margin: 0 auto;
    max-width: 1960px;
    min-width: 320px;
    padding: 0 20px;
}

.bayan__item {
    width: 100%;
    border-top: 1px solid rgb(233, 233, 233);
}

.item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    color: rgb(118, 118, 250);
    font-weight: 900;
}

.status__icon {
    width: 15px;
    height: 15px;
    background-image: url('../icons/plus.svg');
    background-size: cover;
    transition: background 0.5s;
}

.item__input {
    appearance: none;
    position: absolute;
}

.item__mem {
    font-size: 14px;
    display: none;
    padding: 10px 10px;
}

.mem__image {
    height: 300px;
    width: auto;
}

.item__input:checked~.item__mem {
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;
}

.item__input:checked~.item__title {
    color: black;
}

.item__input:checked~.item__title .status__icon {
    background-image: url('../icons/minus.svg');
    transition: background 0.5s;
}